@mixin buttonMixin {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid black;

  background: linear-gradient(
    348deg,
    rgba(92, 92, 92, 0.376) 10%,
    rgb(196, 196, 197) 90%
  );
  cursor: pointer;
  @media (width < 500px) {
    font-size: 14px;
    padding: 4px;
    border-radius: 8px;
  }
  &:hover {
    background: linear-gradient(
      348deg,
      rgba(92, 92, 92, 0.541) 6%,
      rgb(196, 196, 197) 94%
    );

    &::after {
      content: "";
      position: absolute;
      top: -110%;
      left: -110%;
      width: 120%;
      height: 120%;
      background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.6),
        transparent
      );
      animation: shine 1s infinite;
    }
  }
}

@mixin filterMixin {
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  @media (width < 500px) {
    margin-bottom: 15px;
  }
}

#gamesGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  #searchAndFilters {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      text-decoration: none;
      font-size: 22px;
      padding: 5px;
      background-color: rgba(51, 51, 51, 0.973);
      border: none;
      border-radius: 15px;
      @media (width < 500px) {
        font-size: 18px;
        padding: 4px;
      }
      &::placeholder {
        color: rgb(255, 243, 243);
      }
    }
    button {
      font-size: 22px;
      padding: 5px;
      background-color: rgba(51, 51, 51, 0.973);
      color: white;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      @media (width < 500px) {
        font-size: 18px;
        padding: 4px;
      }
    }
  }
  #filters {
    width: 100%;
    display: none;
    &.filtersActive {
      display: block;
    }
    #sortFilters {
      @include filterMixin;
      button {
        @include buttonMixin;
      }
    }
    #Tags {
      @include filterMixin;
      button {
        @include buttonMixin;
      }
    }
  }
  .galleryObject {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
  }

  .galleryObjectInfo {
    width: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color: white;
    background-color: rgba(51, 51, 51, 0.973);
  }
  .hoverInfo {
    position: absolute;
    top: 100%;
    width: 300px;
    background-color: rgba(51, 51, 51, 0.973);
    border-radius: 0 0 25px 25px;
    animation: slideInFromTop 0.3s ease-out;
    z-index: 1;
    .hoverInfoLast {
      position: absolute;
      bottom: 0px;
    }
    p {
      color: white;
      margin-top: 10px;
      margin-block-start: 0;
      margin-block-end: 1em;
      padding: 5px;
      text-align: center;
    }
  }

  .galleryObjectContainer {
    position: relative;
    height: fit-content;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
